*,
::before,
::after {
  line-height: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: #2a2a2b;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#595b5c 0%, #414142 100%);
  position: relative;
  user-select: none;
}

/* !-------------------------------- */
.brand {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  bottom: 1rem;
  left: 0rem;
  padding: 2rem;
  box-shadow: 0 1rem 3rem #00000035;
  border: 2px solid #ffffff25;
  width: 15rem;
  background-color: #11111135;
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all 0.3s;
  overflow: hidden;
  transform: scale(0.7);
  user-select: none;
}
.brand:hover {
  gap: 1rem;
  background-color: #11111145;
  transform: scale(1);
}

.brand:hover .brand__title {
  font-size: 1.6rem;
  transform: translate(-1rem, -1rem);
  color: #ec8b1d;
  font-weight: 600;
}

.brand:hover .mahyarsign {
  transform: translate(-1.3rem, 0.1rem);
}

.brand__title {
  color: #ddd;
  font-size: 2.8rem;
  font-weight: 600;
  transition: all 0.3s;
  transform: translate(-2px, 3px);
}

.mahyarsign {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s;
}
/* !-------------------------------- */

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  position: relative;
  height: min-content;
  padding: 0 1rem;
  /* border: 1px solid red; */
}

/* !-------------------------------- */
.app {
  background-color: #272727;
  width: min-content;
  max-width: 50rem;
  height: min-content;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5rem;
  box-shadow: 0 1rem 4rem #00000035;
  background-image: linear-gradient(-15deg, #1b1d1d 0%, #37393b 120%);
  border-top: 4px solid #ffffff25;
  border-left: 2px solid #ffffff25;
  position: fixed;
}

/* !--------------------------------- */
.display {
  height: 30rem;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 3.6rem;
  opacity: 70%;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* !--------------------------------- */
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 7.4rem);
  grid-template-rows: repeat(5, 7.4rem);
  grid-gap: 1.2rem;
  margin-bottom: 1rem;
}
/* !---------------------------------- */
.btn {
  border: 3px solid #ffffff20;
  box-shadow: 0 0.2rem 1rem #00000025;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  filter: brightness(115%);
  background-color: #ffffff15;
}

.btn:active {
  filter: brightness(140%);
  background-color: #ffffff15;
}
.btn-zero {
  grid-column: 1/3;
}

.btn-number {
  color: #ddd;
  font-size: 2.6rem;
  background-image: linear-gradient(145deg, #222222 0%, #333333 100%);
}

.btn-type--1 {
  background-image: linear-gradient(145deg, #444 0%, #555 100%);
  font-size: 2.4rem;
  color: #999;
}

.btn-type--2 {
  background-image: linear-gradient(-45deg, #ff843c 0%, #fa5c00 100%);
  font-size: 3.6rem;
  color: #fff;
}

/* !---------------------- */
input {
  padding: 1rem;
}
